@model LearnASPWithAkichan.Models.Subject

@{
    ViewData["Title"] = "Tạo môn học";
    Layout = "";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký môn học</title>

    <!--Import packages-->
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="body d-md-flex h-100 d-flex align-items-center justify-content-center formBox" style="width:60vw; top:0 !important; margin-top: 0 !important;">
            <div class="box-1 mt-md-0 mt-5">
                <img src="https://images.unsplash.com/photo-1535083252457-6080fe29be45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                    class="" alt="">
            </div>
            <div class=" box-2 d-flex flex-column h-100">
                <div class="mt-5">
                    <p class="mb-1 h-1">@ViewData["Title"]</p>
                    <p class="text-muted mb-2"></p>
                    <div class="d-flex flex-column login-box ">
                        <form asp-controller="Admin" asp-action="CreateSubject" id="formSub" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="user-box">
                                <label asp-for="Id" class="control-label"></label>
                                <br /> <br />
                                <input asp-for="Id" class="form-control" />
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>
                            <div class="user-box">
                                <label asp-for="Name" class="control-label"></label>
                                <br /> <br />
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="user-box">
                                <label asp-for="Credits" class="control-label"></label>
                                <br /> <br />
                                <input asp-for="Credits" class="form-control" min=0 type="number" />
                                <span asp-validation-for="Credits" class="text-danger"></span>
                            </div>
                            <div class="user-box">
                                <label asp-for="DepartmentId" class="control-label"></label>
                                <br /> <br />
                                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId" style="min-height: 5rem"></select>
                            </div>

                            <a type="Submit" id="Submit" href="javascript:$('#formSub').submit();">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              Tạo
                            </a>

                            <a asp-action="QuanLyMonHoc">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Quay lại
                              </a>

                            <div class="user-box">
                                <!-- <p>Thông báo gì đó</p> -->
                                <p style="color: red">@TempData["notification"]</p>
                            </div>
                          </form>
                    </div>
                </div>
                <div class="mt-auto">
                    <p class="footer text-muted mb-0 mt-md-0 mt-4">Nếu bạn quên mật khẩu hoặc cần hỗ trợ về tài khoản, hãy liên hệ
                        <span class="p-color me-1">Phòng CNTT</span>hoặc gọi số
                        <span class="p-color ms-1">0123345697</span>
                    </p>
                </div>
            </div>
        
        </div>
    </div>


</body>
</html>

