@model IEnumerable<LearnASPWithAkichan.Models.RegistClass>;
@{
    ViewData["Title"] = "Học phần đã đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

            @*<div class="filter">
                <ul>
                    <li class="btn btn-outline btnActive" id="theo-ke-hoach-btn">Theo kế hoạch</li>
                    <li class="btn btn-outline" id="ngoai-ke-hoach-btn">Ngoài kế hoạch</li>
                </ul>
            </div>*@
            
            <!-- Ghi Xuất dữ liệu ở đây-->
            <div class="contentWrapper">

                <div class="contentCard longCard">
                    <div class="cardContent">
                       <div class="cardMainContent">
                            <h2>@ViewData["Title"]</h2>
                            <br>
                            <p>Nếu bạn không tìm thấy học phần nào nghĩa là chưa đến đợt đăng ký!</p>
                       </div>

                       <div class="cardSubContent">
                            

                       </div>
                    </div>

                    <div class="cardImage">
                        <img src="~/css/images/man-with-laptop-light.png" alt="ThongBao" srcset="">
                    </div>

                </div>      
                
                    @foreach (var item in Model)
                    {
                        <div class="contentCard">
                        <div class="cardContent">
                          <div class="cardMainContent">
                                <h5>Mã:@item.ClassSessionId</h5>
                                <p> Tin chi:@item.Credits </p>
                                <p> Ngày đăng ký: @item.RegistDate</p>
                          </div>
                          <div class="cardSubContent">
                            <p>MSSV - @item.StudentId</p>
                          </div>
                        </div>
                        <div class="cardImage">
                          <div class="buttonAction">
                              
                            <a class="btn btn-outline dangKy" id="register-btn"  asp-action="HuyDangKy" asp-route-id="@item.ClassSessionId"  asp-controller="Home"> Huỷ đăng ký</a>

                          </div>
                        </div>
                      </div>
                    }
                
                
                </div>@*data-bs-toggle="modal" data-bs-target="#modalConfirmDelete" *@
@*
    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Xác nhận hủy </p>
          </div>

          <!--Body-->
          <div class="modal-body">

            <i class="fa fa-times fa-4x animated rotateIn" aria-hidden="true"></i>

          </div>

          <!--Footer-->
          <div class="modal-footer" style="display:flex !important; justify-content: center !important;">
            <a href="" class="btn btn-outline-danger" >Xác nhận</a>
            <a type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Không</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: modalConfirmDelete-->
    *@
    <script>
        $(".menu li:nth-child(2)").addClass("active");
    </script>

    <script src="~/js/index.js"></script>