@using LearnASPWithAkichan.Models
@model LearnASPWithAkichan.Models.Subject
@{
    ViewData["Title"] = "Đăng ký môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

            <div class="filter">
                <ul>
                    <li class="btn btn-outline btnActive" id="theo-ke-hoach-btn">Theo kế hoạch</li>
                    <li class="btn btn-outline" id="ngoai-ke-hoach-btn">Ngoài kế hoạch</li>
                </ul>
            </div>
            
            <!-- Ghi Xuất dữ liệu ở đây-->
            <div class="contentWrapper">

                <div class="contentCard longCard">
                    <div class="cardContent">
                       <div class="cardMainContent">
                            <h2>@ViewData["Title"]</h2>
                            <br>
                            <p>Nếu bạn không tìm thấy học phần nào nghĩa là chưa đến đợt đăng ký!</p>
                       </div>

                       <div class="cardSubContent">
                            

                       </div>
                    </div>

                    <div class="cardImage">
                        <img src="~/css/images/man-with-laptop-light.png" alt="ThongBao" srcset="">
                    </div>

                </div>     
                



                <div class="contentCard">
                    <div class="cardContent">
                      <div class="cardMainContent">
                        <p>@ViewBag.Test</p>
                        <h5>Lorem ipsum dolor sit.</h5>
                        <p>Số tín chỉ: 4</p>
                      </div>
                      <div class="cardSubContent">
                        <p>Môn tiên quyết: Lập trình cơ bản, Cấu trúc dữ liệu và giải thuật 1, Kinh tế chính trị</p>
                      </div>
                    </div>
                    <div class="cardImage">
                      <div class="buttonAction">
                        <a class="btn btn-outline dangKy"> Xem danh sách lớp</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contentCard">
                    <div class="cardContent">
                      <div class="cardMainContent">
                        <p>Id</p>
                        <h5>Name</h5>
                        <p>Credits tín chỉ</p>
                      </div>
                      <div class="cardSubContent">
                        <p>ClassSessions - ClassSessions</p>
                      </div>
                    </div>
                    <div class="cardImage">
                      <div class="buttonAction">
                        <a class="btn btn-outline dangKy"> Xem danh sách lớp</a>
                      </div>
                    </div>
                  </div>
                
                    
                
                
            </div>
        </div>
    </div>


 
    <script>
        $(".menu li:nth-child(1)").addClass("active");
    </script>

    <script src="~/js/index.js"></script>