@{
    ViewData["Title"] = "Đăng nhập";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/login.css" type="text/css" />
}
<div class="container">
        <div class="body d-md-flex h-100 d-flex align-items-center justify-content-center formBox">
            <div class="box-1 mt-md-0 mt-5">
                <img src="https://images.unsplash.com/photo-1535083252457-6080fe29be45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                    class="" alt="">
            </div>
            <div class=" box-2 d-flex flex-column h-100">
                <div class="mt-5">
                    <p class="mb-1 h-1">Đăng nhập</p>
                    <p class="text-muted mb-2">Dùng tài khoản sinh viên của bạn để đăng nhập.</p>
                    <div class="d-flex flex-column login-box ">
                        <form>
                            <div class="user-box">
                              <input type="text" name="" required="">
                              <label>Mã sinh viên</label>
                            </div>
                            <div class="user-box">
                              <input type="password" name="" required="">
                              <label>Mật khẩu</label>
                            </div>
                            <a  id="Submit" asp-controller="Home" asp-action="Index">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              Đăng nhập
                            </a>

                            <div class="user-box">
                                <!-- <p>Thông báo gì đó</p> -->
                            </div>
                          </form>
                    </div>
                </div>
                <div class="mt-auto">
                    <p class="footer text-muted mb-0 mt-md-0 mt-4">Nếu bạn quên mật khẩu hoặc cần hỗ trợ về tài khoản, hãy liên hệ
                        <span class="p-color me-1">Phòng CNTT</span>hoặc gọi số
                        <span class="p-color ms-1">0123345697</span>
                    </p>
                </div>
            </div>
        
        </div>
    </div>
