@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

@section AddItemToHeader{
            <li class="menu-item active ">
                <a href="#" class="menu-link">
                    <i class="menu-icon fa fa-pencil"></i>
                    <div>Quản lý kỳ đăng ký</div>
                </a>
            </li>

            <li class="menu-item ">
                <a asp-controller="Subjects" asp-action="Index" class="menu-link">
                    <i class="menu-icon fa fa-book" aria-hidden="true"></i>
                    <div>Quản lý môn học</div>
                </a>
            </li>

            <li class="menu-item ">
                <a asp-controller="Students" asp-action="Index" class="menu-link">
                    <i class="menu-icon fa fa-address-book" aria-hidden="true"></i>
                    <div>Quản lý sinh viên</div>
                </a>
            </li>

            <li class="menu-item ">
                <a asp-controller="Departments" asp-action="Index" class="menu-link">
                    <i class="menu-icon fa fa-users" aria-hidden="true"></i>
                    <div>Quản lý khoa</div>
                </a>
            </li>

            <li class="menu-item ">
                <a asp-controller="Home" asp-action="Login" class="menu-link">
                    <i class="menu-icon fa fa-sign-out"></i>
                    <div>Đăng xuất khỏi trái đất</div>
                </a>
            </li>
}

    <div class="container-fluid maincontentwrapper">
        <div class="row content">

            <nav class="mainContentNavbar">
                <div class="toggleLeftSideMenu">
                    <a href="javascript:void(0)" id="toggle-leftside">
                        <i class="fa fa-bars" aria-hidden="true"></i>

                    </a>
                </div>
                <div class="navbarContent">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link profile" href="javascript:void(0)">
                                <div class="profile-info">
                                    <span id="profile-name">Thông tin Admin</span>
                                </div>

                                <div class="avatar">
                                    <img src="https://i.pinimg.com/736x/3e/90/18/3e90181cc67d3650ad9de822e0cabd4d.jpg" alt="avt" srcset="">
                                </div>
                            </a>

                            <div class="dropdownMenu">
                                <a class="dropdownItem" asp-controller="Home" asp-action="Login" asp-area=""> <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>


            </nav>

            <div class="filter">
                <ul>
                    <li class="btn btn-outline"><a asp-action="TaoKyDangKy"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới </a></li>
                    <li class="btn btn-outline" >Action 2</li>
                </ul>
            </div>

            <div class="contentWrapper">

                <div class="contentCard longCard">
                    <div class="cardContent">
                       <div class="cardMainContent">
                            <h2>Quản lý kỳ đăng ký học phần</h2>
                            <br>
                            <p></p>
                       </div>

                       <div class="cardSubContent">
                            

                       </div>
                    </div>

                    <div class="cardImage">
                        <img src="~/css/images/man-with-laptop-light.png" alt="ThongBao" srcset="">
                    </div>

                </div>      
                

                @for (var i = 0; i < @ViewBag.StartTime.Length; i++)
                {
                    <div class="contentCard">
                    <div class="cardContent">
                      <div class="cardMainContent">
                        <p></p>
                        <h5>Kỳ đăng ký @i</h5>
                        <p>@ViewBag.StartTime[i] - @ViewBag.EndTime[i] </p>
                      </div>
                      <div class="cardSubContent">
                       
                      </div>
                    </div>
                    <div class="cardImage">
                      <div class="buttonAction">
                        <a href="#" class="btn btn-outline dangKy" id="register-btn" > Chỉnh sửa</a>
                      </div>
                    </div>
                  </div>
                }


                @*<div class="contentCard">
                    <div class="cardContent">
                      <div class="cardMainContent">
                        <p>Mã: 0001122333</p>
                        <h5>Lorem ipsum dolor sit.</h5>
                        <p>Số tín chỉ: 4</p>
                      </div>
                      <div class="cardSubContent">
                        <p>Môn tiên quyết: Lập trình cơ bản, Cấu trúc dữ liệu và giải thuật 1, Kinh tế chính trị</p>
                      </div>
                    </div>
                    <div class="cardImage">
                      <div class="buttonAction">
                        <a href="#" class="btn btn-outline dangKy" id="register-btn" value='+index+'> Đăng ký</a>
                        <a href="#" class="btn btn-outline"> Đánh dấu</a>
                      </div>
                    </div>
                  </div>
                </div>*@
                
            </div>
        </div>
    </div>

    <script src="~/js/index.js"></script>
