@model IEnumerable<LearnASPWithAkichan.Models.ClassSession>      
@{
    ViewData["Title"] = "Đăng ký môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

            <div class="filter">
                <ul>
                    <li class="btn btn-outline " id="theo-ke-hoach-btn"><a asp-action="Index">Theo kế hoạch</a> </li>
                    <li class="btn btn-outline btnActive"  id="ngoai-ke-hoach-btn"> </li>
                </ul>
            </div>
            
            <!-- Ghi Xuất dữ liệu ở đây-->
            <div class="contentWrapper">

               
                
                @foreach (var item in Model)
                {
                    <div class="contentCard">
                    <div class="cardContent">
                      <div class="cardMainContent">
                        <p>@item.Id</p>
                        <h5></h5>
                        <p></p>
                      </div>
                      <div class="cardSubContent">
                      </div>
                    </div>
                    <div class="cardImage" id="DK">
                      <div class="buttonAction">
                        <a class="btn btn-outline dangKy" asp-route-id="@item.Id" asp-action="DanhSachLop" > Xem danh sách lớp</a>
                      </div>
                    </div>
                  </div>
               
                }
            </div>


 
    <script>
        $(".menu li:nth-child(1)").addClass("active");
    </script>

    <script src="~/js/index.js"></script>