@model LearnASPWithAkichan.Models.Subject

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link rel="stylesheet" href="~/css/login.css" type="text/css" />
}

<div class="container">
        <div class="body d-md-flex h-100 d-flex align-items-center justify-content-center formBox" style="width:60vw; top:0 !important; margin-top: 0 !important;">
            <div class="box-1 mt-md-0 mt-5">
                <img src="https://images.unsplash.com/photo-1535083252457-6080fe29be45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                    class="" alt="">
            </div>
            <div class=" box-2 d-flex flex-column h-100">
                <div class="mt-5">
                    <p class="mb-1 h-1">Chỉnh sửa môn học</p>
                    <p class="text-muted mb-2"></p>
                    <div class="d-flex flex-column login-box ">
                        <form asp-action="Edit" id="CreateSubjectForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*                            <div class="user-box">
                                
                                <input asp-for="Id"  />
                                <label asp-for="Id"></label>
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>*@
                            <div class="user-box">

                                <input asp-for="Credits"  />
                                <label asp-for="Credits" ></label>
                                <span asp-validation-for="Credits" class="text-danger"></span>
                            </div>
                            <div class="user-box">
                                <input asp-for="Name" />
                                <label asp-for="Name"></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="user-box" style="margin-top:2rem !important;">

                                <select asp-for="SubjectId" asp-items="ViewBag.SubjectId"></select>
                                <label asp-for="SubjectId" style="margin:0; padding:0; top:-2rem !important"></label>
                            </div>
                            <div class="user-box" style="margin-top:2rem;">
                                <select asp-for="DepartmentId" asp-items="ViewBag.DepartmentId"></select>
                                <label asp-for="DepartmentId" style="margin:0; padding:0; top:-2rem !important"></label>
                            </div>

                            <a type="Submit" id="Submit" onclick="document.getElementById('CreateSubjectForm').submit();">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              Chỉnh sửa
                            </a>

                            <a asp-action="Index">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Quay lại
                              </a>

                            <div class="user-box">
                                <!-- <p>Thông báo gì đó</p> -->
                            </div>
                          </form>
                    </div>
                </div>
                <div class="mt-auto">
                    <p class="footer text-muted mb-0 mt-md-0 mt-4">Nếu bạn quên mật khẩu hoặc cần hỗ trợ về tài khoản, hãy liên hệ
                        <span class="p-color me-1">Phòng CNTT</span>hoặc gọi số
                        <span class="p-color ms-1">0123345697</span>
                    </p>
                </div>
            </div>
        
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
