@model LearnASPWithAkichan.Models.KyDangKy

   <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Xác nhận xoá kỳ này? </p>
          </div>

          <!--Body-->
          <div class="modal-body">

            <i class="fa fa-times fa-4x animated rotateIn" aria-hidden="true"></i>

          </div>

          <!--Footer-->
          <div class="modal-footer" style="display:flex !important; justify-content: center !important;">
            @*<a href="" class="btn btn-outline-danger">Xác nhận</a>
            <a type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Không</a>*@
             <button type="button" class="btn btn-default" data-dismiss="modal">Thôi khỏi</button>
                <form asp-action="xoaKyDangKy" class="d-inline">
                      <button type="submit" class="btn btn-warning btn-xs"><i class="fas fa-trash"></i> Xoá</button>

                </form>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: modalConfirmDelete-->
